# ========================================
# 🐍 Python (Archivos compilados / Basura)
# ========================================
__pychache__/
*.py[cod]
*$py.class

# ========================================
# 📦 Entornos Virtuales
# ========================================
venv/
env/
.venv

# ========================================
# ⚙️ Python (Archivos compilados / Basura)
# ========================================
.vscode/
.idea/
.DS_STORE
Thumbs.db

# ========================================
# 📄 Python (Archivos compilados / Basura)
# ========================================
*.log
*.tmp

